@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    scroll-behavior: smooth;
    font-family: 'Belleza', sans-serif;
    background-color: rgb(0, 0, 0);
}

.nav {
    position: fixed;
    display: flex;
    top: 2%;
    left: 1%;
    height: 50px;
    width: 98%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(12px);
}

.nav p {
    position: fixed;
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    top: 14px;
    color: rgba(255, 255, 255);
    left: 20px;
}

.links {
    position: fixed;
    display: flex;
    top: 13px;
    font-size: 14px;
    right: 0px;
}

.links a {
    text-decoration: none;
    text-align: center;
    padding-top: 2px;
    margin-right: 20px;
    width: 100px;
    height: 22px;
    border-radius: 5px;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    color: rgb(255, 255, 255);
}

.bg1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.cube img {
    position: absolute;
    top: 120px;
    right: 150px;
    height: 500px;
    width: 450px;
    animation: cube 5s infinite ease-in-out;
}

@keyframes cube {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 10px);
    }

    100% {
        transform: translate(0, 0px)
    }
}

.hero{
    position: absolute;
    top: 180px;
    left: 50px;
    height: 420px;
    width: 700px;
    background: rgba(255, 255, 255, 0.05);
}

.title p{
    text-align: center;
    font-size: 66px;
    margin-top: 50px;
    
    color: rgba(255, 255, 255);
}

.blob1 {
    position: absolute;
    top: 1100px;
    left: 400px;
    height: 600px;
    width: 600px;
}

.section {
    position: absolute;
    top: 700px;
    left: 5%;
    height: 600px;
    width: 90%;
    opacity: 0;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: perspective(2000px) rotateY(0deg);
    transition: 0.5s ease-out;
}

.section.active {
    opacity: 1;
    animation: section 5s ease-out;
}

@keyframes section {
    0% {
        transform: perspective(6em) rotateY(2deg);
    }

    100% {
        transform: perspective(2000px) rotateY(0deg);
    }
}

.content {
    padding: 20px;
    font-size: 26px;
    color: rgba(255, 255, 255);
}

.title h1 {
    position: absolute;
    top: 1500px;
    color: rgba(0, 0, 0);
}

@media screen and (max-width: 1090px) {

    body {
        display: flex;
        scroll-behavior: smooth;
        font-family: 'Belleza', sans-serif;
        background-color: rgb(0, 0, 0);
    }

    .nav {
        position: fixed;
        top: 2%;
        left: 3%;
        height: 50px;
        width: 94%;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(12px);
    }

    .nav p {
        position: fixed;
        display: flex;
        margin-left: 20px;
        font-size: 16px;
        top: 14px;
        left: 0;
    }

    .links {
        position: fixed;
        display: flex;
        top: 14px;
        font-size: 13px;
        right: 0px;
    }

    .links a {
        text-decoration: none;
        text-align: center;
        padding-top: 4px;
        margin-right: 15px;
        width: 50px;
        height: 22px;
        border-radius: 5px;
        box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.05);
        color: rgb(255, 255, 255);
    }

    .blob1 {
        position: absolute;
        top: 1100px;
        left: 40px;
        height: 600px;
        width: 300px;
    }

    .section {
        position: absolute;
        top: 800px;
        left: 5%;
        height: 700px;
        width: 90%;
        opacity: 0;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(12px);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        -webkit-backdrop-filter: blur(12px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        transform: perspective(2000px) rotateY(0deg);
        transition: 0.5s ease-out;
    }

    .section.active {
        opacity: 1;
        animation: shimmy 5s ease-out;
    }

    @keyframes shimmy {
        0% {
            transform: perspective(6em) rotateY(2deg);
        }
    
        100% {
            transform: perspective(2000px) rotateY(0deg);
        }
    }

    .content {
        padding: 20px;
        box-sizing: border-box;
    }

    .title h1 {
        position: absolute;
        top: 1700px;
        left: 200px;
    }

}